.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ff9999;
  border-radius: 4px;
  background-color: #ffe6e6;
  display: inline-block;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;


  &.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}
.success-message {
  position: relative;
  padding: 15px;
  margin: 20px 0;
  background-color: #4caf50; 
  color: #fff; 
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;


  /* &::after {
    content: '\00d7';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
  } */


  &::after:hover {
    color: #fff; 
  }


  &.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}
